@{
	ViewBag.Title = "Про розробників";
}


<content style="position: relative; top: 16%; display: block;">
	<div class="descriptionBackground" style="width: 90%;">
		<div class="logo" style="margin-bottom: 50px;">
		</div>
		<div class="description">
			<p style="font-family: 'Comfortaa', cursive; text-align: justify;">
				Бакалаврська робота на тему: "Розробка підсистеми взаємодії мешканців в автоматизованій
				системі управління об’єднаних співвласників багатоквартирного будинку"
			</p>
			<hr />
			<br />
			<p style="font-family: 'Comfortaa', cursive; text-align: justify;">
				Виконав студент групи <span style="text-decoration: underline; color: #0094ff;">2АВ-14б Плисак Владислав</span>
			</p>
			<br />
			<br />
			<br />
			<br />
			<button class="btn btn-info btn-fill" style="position:  relative; display:  block; margin:  auto;" onclick="goBack()">Назад</button>
		</div>
	</div>
	
</content>



<script>
	function goBack() {
		window.history.back();
	}
</script>