@{
	ViewBag.Title = "Home Page";
}

<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<div class="jumbotron" style="background-color: #fff; display: block; margin: auto; text-align: center;">
	<div class="logo" style="margin-top: 74px;">
	</div>
	<h1 style="font-family: 'Comfortaa', cursive;">Моє ОСББ</h1>
	<p class="lead" style="font-family: 'Comfortaa', cursive;">Ваш найкращий помічник</p>
	<hr />
	<br />
	<p><a href="Account/Registration" class="btn btn-info  btn-fill btn-lg" style="font-size: 10pt;">Зареєструватись &raquo;</a></p>
</div>
<hr />
<br />
<hr style="background-color: #f5593d; height: 1px; border: 0px;" />
<br />
<div class="row" style="width: 100%">
	<div class="card">
		<div class="row">
			<div class="content" style="font-family: 'Comfortaa', cursive; max-height: max-content;">
				<div class="col-md-4">
					<h2 style="font-family: 'Comfortaa', cursive; color: #f5593d">Вам пропонується</h2>
					<p style="font-family: 'Comfortaa', cursive;">
						Набір усіх необхідних засобів для управління вашим ОСББ
					</p>
					@*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
				</div>
				<div class="col-md-4">
					<h2 style="font-family: 'Comfortaa', cursive; color:  #7AC29A;">Наші переваги</h2>
					<p style="font-family: 'Comfortaa', cursive;">Легкість управління, можливість додавання декількох квартир, створення власних голосуваннь для нововведень, можливість порівняти свої витрати з середнім значенням по вашому ОСББ</p>
					@*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
				</div>
				<div class="col-md-4">
					<h2 style="font-family: 'Comfortaa', cursive; color: #00ceff">Про розробників</h2>
					<p style="font-family: 'Comfortaa', cursive;">"Моє ОСББ" Розроблено студентом групи 2АВ-14Б</p>
					<p><a class="btn btn-info" onclick="location.href='@Url.Action("About", "Home")'">Детальніше &raquo;</a></p>

				</div>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<div class="row" style="width: 100%">
			<div style="padding: 0 70px 0 70px;">
				<div class="card" style="margin-left: 35px; max-width: max-content; box-shadow: 0 2px 2px rgba(2, 2, 2, 0.58);  display: inline-block; width: 28%; margin-bottom: 0.75rem;">
					<div class="card-body">
						<a rel="simplebox" href="~/Content/images/index/1.png">
							<img width="100%" src="~/Content/images/index/1.png">
						</a>
					</div>
				</div>
				<div class="card" style="margin-left: 35px; max-width: max-content; box-shadow: 0 2px 2px rgba(2, 2, 2, 0.58);  display: inline-block; width: 28%; margin-bottom: 0.75rem;">
					<div class="card-body">
						<a rel="simplebox" href="~/Content/images/index/2.png">
							<img width="100%" src="~/Content/images/index/2.png">
						</a>
					</div>
				</div>
				<div class="card" style="margin-left: 35px; max-width: max-content; box-shadow: 0 2px 2px rgba(2, 2, 2, 0.58);  display: inline-block; width: 28%; margin-bottom: 0.75rem;">
					<div class="card-body">
						<a rel="simplebox" href="~/Content/images/index/3.png">
							<img width="100%" src="~/Content/images/index/3.png">
						</a>
					</div>
				</div>

				<br />
				<br />
				<br />
				<hr style="background-color: #f5593d; height: 1px; border: 0px;" />
				<br />
				<br />
				<br />

				<div class="card" style="margin-left: 35px; max-width: max-content; box-shadow: 0 2px 2px rgba(2, 2, 2, 0.58);  display: inline-block; width: 28%; margin-bottom: 0.75rem;">
					<div class="card-body">
						<a rel="simplebox" href="~/Content/images/index/4.png">
							<img width="100%" src="~/Content/images/index/4.png">
						</a>
					</div>
				</div>

				<div class="card" style="margin-left: 35px; max-width: max-content; box-shadow: 0 2px 2px rgba(2, 2, 2, 0.58);  display: inline-block; width: 28%; margin-bottom: 0.75rem;">
					<div class="card-body">
						<a rel="simplebox" href="~/Content/images/index/5.png">
							<img width="100%" src="~/Content/images/index/5.png">
						</a>
					</div>
				</div>

				<div class="card" style="margin-left: 35px; max-width: max-content; box-shadow: 0 2px 2px rgba(2, 2, 2, 0.58);  display: inline-block; width: 28%; margin-bottom: 0.75rem;">
					<div class="card-body">
						<a rel="simplebox" href="~/Content/images/index/6.png">
							<img width="100%" src="~/Content/images/index/6.png">
						</a>
					</div>
				</div>

				<br />
				<br />
				<br />
				<hr style="background-color: #f5593d; height: 1px; border: 0px;" />
				<br />
				<br />
				<br />

				<div class="card" style="margin-left: 35px; max-width: max-content; box-shadow: 0 2px 2px rgba(2, 2, 2, 0.58);  display: inline-block; width: 28%; margin-bottom: 0.75rem;">
					<div class="card-body">
						<a rel="simplebox" href="~/Content/images/index/7.png">
							<img width="100%" src="~/Content/images/index/7.png">
						</a>
					</div>
				</div>

				<div class="card" style="margin-left: 35px; max-width: max-content; box-shadow: 0 2px 2px rgba(2, 2, 2, 0.58);  display: inline-block; width: 28%; margin-bottom: 0.75rem;">
					<div class="card-body">
						<a rel="simplebox" href="~/Content/images/index/8.png">
							<img width="100%" src="~/Content/images/index/8.png">
						</a>
					</div>
				</div>

				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
			</div>
		</div>
	</div>
</div>

<div id="simplebox">
	<div id="simple-tmp">
	</div>
	<div id="simple-loading" style="display: none;"><div style="top: -440px;"></div></div><div id="simple-overlay" style="background-color: rgb(102, 102, 102); opacity: 0; display: none;" data-display="block"></div><div id="simple-outer" style="width: 432px; height: 484px; left: 624px; top: 5776px; opacity: 0; display: none;" data-display="block"><div id="simple-inner" style="top: 10px; left: 10px; width: 412px; height: 464px; overflow: hidden;"></div><a id="simple-close" style="display: none;"></a><a id="simple-left" style="display: none;"><span id="simple-left-ico" class="simple-ico"></span></a><a id="simple-right" style="display: none;"><span id="simple-right-ico" class="simple-ico"></span></a></div>
</div>

<script type="text/javascript" src="~/Content/js/simplebox_util.js"></script>
<script type="text/javascript" src="~/Content/js/simplebox.js"></script>


<script type="text/javascript">
	(function () {
		var boxes = [], els, i, l;
		if (document.querySelectorAll) {
			els = document.querySelectorAll('a[rel=simplebox]');
			Box.getStyles('simplebox_css', 'Content/css/simplebox.css');
			Box.getScripts('simplebox_js', 'Content/js/simplebox.js', function () {
				simplebox.init();
				for (i = 0, l = els.length; i < l; ++i)
					simplebox.start(els[i]);
				simplebox.start('a[rel=simplebox_group]');
			});
		}
	})();
</script>
