@model MyOSBB.Models.ForgotPasswordViewModel
@{
	ViewData["Title"] = "Вхід";
}


<content>
	<div class="descriptionBackground">
		<div class="logo">
		</div>
		<div class="description">
			<p>Онлайн система управління ОСББ</p>
			<hr style="background-color: #58595b; size: 5px;" />
			<br />
			<br />
			<p>Введіть адресу вашої поштові скриньки</p>
			@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<div class="Login">
					<div class="row">
						<div class="input-group">
							@Html.EditorFor(model => model.Email, new
							{
								htmlAttributes = new
								{
									@class = "input, form-control",
									id = "Email",
									name = "Email",
									required = "required",
									type = "text",
									placeholder = "Email",
									style = "font-family: 'Comfortaa', cursive; background-color: #fff;"
								}
							})
							<span class="input-group-addon"><i class="fa fa-at"></i></span>

						</div>
					</div>
					<div class="row">
						<button type="submit" class="btn btn-success" style="width: 100%; font-family: 'Comfortaa', cursive;">Відправити повідомлення</button>
					</div>
					<br />
					<br />
					<div class="row">
						<a href='@Url.Action("Login")' style="text-decoration:none">
							<button type="button" class="btn btn-info btn-block" style="width: 100%; font-family: 'Comfortaa', cursive;">
								Відміна
							</button>
						</a>
					</div>
				</div>
			}
		</div>
	</div>
</content>
<footer></footer>
</body>
